html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.charts {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.chart-container > * {
    height: 100%;
}